{% extends "base.html" %}
{% load bootstrap4 %}
{% include 'top_bottom.html' %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>계정생성</h4>
        </div>
        <div class="col-8 text-right">
            <span>또는 <a href="{% url 'common:login' %}">로그인 하세요.</a></span>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="non-field-errors">
            {% for error in form.non_field_errors %}
            <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-warning text-uppercase">생성하기</button>
    </form>
</div>
{% endblock %}