<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jeju</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            body, html {height: 100%}
            .bgimg {
                background-image: url("https://api.cdn.visitjeju.net/photomng/imgpath/202112/29/fe9943bf-e33e-45da-b9ed-c65bf5a5fd50.jpg");
                min-height: 100%;
                background-position: center;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <div class="bgimg">
            <center>
                <h1>관광지를 입력하시오.</h1>
                <p>
                <form action="result">
                    <input type="text" name="n1" placeholder="관광지">
                    <br>
                    <br>

                    <button type="submit">추천</button>
                </form>
                </p>
            </center>
        </div>
    </body>
</html>