{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/simple_chat.css' %}" />

<div class="col">
    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i> SimpleChat
            </div>
            <div class="msger-header-options">
                <span><i class="fas fa-cog"></i></span>
            </div>
        </header>
        <main class="msger-chat">
            <div class="loading-container" id="chatLoading" hidden="true">
                <div class="loading"></div>
                <div id="loading-text">loading</div>
            </div>
            <div class="msg left-msg">
                <div class="msg-img"
                    style="background-image: url(../static/assets/img/bot_image.jpg); background-size: 100% 100%">
                </div>
                <div class="msg-bubble">
                    <div class="msg-info">
                        <div class="msg-info-name">CHAT BOT</div>
                        <div class="msg-info-time"></div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="msg-text">
                        <!-- Hi, welcome to SimpleChat! Go ahead and send me a message. 😄 -->
                        {{ user.profile.nickname }}님, 무엇을 도와드릴까요?
                    </div>
                    {% else %}
                    <div class="msg-text">
                        로그인 후 이용해주세요.
                    </div>
                    {% endif %}
                </div>
            </div>
        </main>
        {% if user.is_authenticated %}
        <form class="msger-inputarea" method="post">
            {% csrf_token %}
            <select name="selected_number" class="msger-select">
                <option value="1">1번: 관광지</option>
                <option value="2">2번: 음식점</option>
                <option value="3">3번: 숙박업소</option>
            </select>
            <input type="text" name="input" class="msger-input" placeholder="질문하실 내용을 입력해주세요.">
            <button type="submit" value="전송" class="msger-send-btn">Send</button>
        </form>
        {% if user.profile.image %}
        <script type="text/javascript">
            var PERSON_NAME = "{{ user.profile.nickname }}";
            var PERSON_IMG = "{{ user.profile.image.url }}";
            var BOT_IMG = "{% static '/assets/img/bot_image.jpg' %}"
        </script>
        {% else %}
        <script type="text/javascript">
            var PERSON_NAME = "{{ user.profile.nickname }}";
            var PERSON_IMG = "https://i.stack.imgur.com/34AD2.jpg";
            var BOT_IMG = "{% static '/assets/img/bot_image.jpg' %}"
        </script>
        {% endif %}
        {% else %}
        <form class="msger-inputarea" method="post">
            {% csrf_token %}
            <select name="selected_number" class="msger-select">
                <option value="1">1번: 관광지</option>
                <option value="2">2번: 음식점</option>
                <option value="3">3번: 숙박업소</option>
            </select>
            <input type="text" name="input" class="msger-input" placeholder="로그인 후 이용해주세요." disabled>
            <button type="submit" value="전송" class="msger-send-btn" disabled>Send</button>
        </form>
        <script type="text/javascript">var PERSON_NAME = "비회원"</script>
        {% endif %}
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

{% endblock %}