{% extends 'base.html' %}

{% block content %}
<h3>숫자 입력
<form action="#" method="get" name="input">
    <input type="number" name="input_num" placeholder="여기에 숫자 입력">
    <input type="submit" value="전송">
</form>
    장소명 : {{ name }}<br>
    주소 : {{ address }}<br>
    사진
    <div class="col-sm-4">
        <img class='photo h-auto' src={% if image_url %} "{{ image_url }}" {% else %} "https://i.stack.imgur.com/34AD2.jpg" {%endif %} width="1280px" height="720px" alt="">
    </div><br>
</h3>
<script>
    history.replaceState({}, null, location.pathname);
</script>
{% endblock %}