{% extends "base.html" %}
{% block content %}
{% include 'top_bottom.html' %}

<div class="product-details">
    <div class="row w-100">
        <div class="col-7 text-center">
            <img class="img-fluid"
                src="https://d3kxs6kpbh59hp.cloudfront.net/community/COMMUNITY/1fd86ae5ff7a4415a7bf8446606aa71c/0bfd9d34a77846d284e67cd1329c50bd_1649160032.png" />
        </div>
        <div class="col">
            <div class="text-wrapper">Product name</div>
            <p class="div">Aliquip fugiat ipsum nostrud ex et eu incididunt</p>
            <p class="p">
                In ullamco labore mollit et exercitation fugiat exercitation minim ex sint ullamco exercitation amet
                officia
                mollit. Qui cillum pariatur in con
            </p>
        </div>
    </div>
    <div class="container text-center">
        <div class="text-wrapper-23">Related products</div>
        <div class="row w-100">
            <div class="col">
                <img class="image-6" src="img/image-188.png" />
                <div class="text-wrapper-24">Product title</div>
                <div class="text-wrapper-25">Commodo labor</div>
            </div>

            <div class="col">
                <img class="image-6" src="img/image-188.png" />
                <div class="text-wrapper-24">Product title</div>
                <div class="text-wrapper-25">Commodo ullamco amet</div>
            </div>

            <div class="col">
                <img class="image-6" src="img/image-188.png" />
                <div class="text-wrapper-24">Product title</div>
                <div class="text-wrapper-25">Laborum qu</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="text-wrapper-38">Reviews</div>
        <div class="text-wrapper-54">368 Reviews</div>

        <div class="container">
            <div class="img-wrapper"><img class="rectangle-6" src="img/rectangle-2.png" /></div>
            <div class="text-wrapper-56">Annie Haley</div>
            <img class="rating-8" src="img/rating-9.svg" />
            <div class="text-wrapper-57">3d ago</div>
            <p class="text-wrapper-58">
                Commodo consequat quis nisi dolor laboris in aute occaecat quis consequat culpa consectetur aliqua.
                Laborum
                cupidatat id reprehenderit non cillum irure sunt commodo.
            </p>
        </div>
        <div class="container">
            <div class="avatar-2"><img class="rectangle-6" src="img/rectangle.png" /></div>
            <div class="text-wrapper-56">Green William</div>
            <img class="rating-8" src="img/rating-10.svg" />
            <div class="text-wrapper-59">3d ago</div>
            <p class="text-wrapper-58">
                Consectetur tempor nulla veniam duis nostrud non. Non qui minim Lorem adipisicing qui veniam commodo
                non
                irure aute elit incididunt qui excepteur officia sunt.
            </p>
        </div>
        <div class="container">
            <div class="avatar-3"><img class="rectangle-6" src="img/image.png" /></div>
            <div class="text-wrapper-56">James Rower</div>
            <img class="rating-8" src="img/rating-11.svg" />
            <div class="text-wrapper-60">3d ago</div>
            <p class="text-wrapper-58">
                Ullamco enim ut culpa irure non qui est duis et aute proident reprehenderit tempor mollit. Aliquip
                excepteur
                nisi culpa reprehenderit adipisicing aliquip excepteur nulla minim.
            </p>
        </div>
        <button class="button-8">
            <div class="text-wrapper-55">Write a review</div>
            <img class="img-2" src="img/pencil-line.svg" />
        </button>
    </div>

</div>

{% endblock %}

{% block script %}
<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            Swal.fire({
                title: '정말로 삭제하시겠습니까?',
                html: "삭제하면 다시 되돌릴 수 없습니다.<br>신중하세요.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '승인',
                cancelButtonText: '취소',
                reverseButtons: true, // 버튼 순서 거꾸로
            }).then((confirmed) => {
                if (Object.values(confirmed)[0])
                    location.href = this.dataset.uri;
            });
        });
    });
    const like_elements = document.getElementsByClassName("like");
    Array.from(like_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            alert(dataset.uri);
            Swal.fire({
                title: '정말로 추천하시겠습니까?',
                html: "추천은 한번만 적용되고<br>취소가 불가능합니다.",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '승인',
                cancelButtonText: '취소',
                reverseButtons: true, // 버튼 순서 거꾸로
            }).then((confirmed) => {
                if (Object.values(confirmed)[0])
                    location.href = this.dataset.uri;
            });
        });
    });
    function like_self() {
        Swal.fire({
            title: '본인 의견 추천',
            html: "본인이 작성한 의견은 추천이 불가합니다.",
            icon: 'error'
        })
    };
    function duplicatedLike() {
        Swal.fire({
            title: '이미 추천하셨습니다.',
            html: "여행지 당 한번만 추천 가능합니다.",
            icon: 'error'
        })
    };
    function notLogin() {
        Swal.fire({
            title: '비회원 추천',
            html: "추천은 로그인 후 가능합니다.",
            icon: 'error'
        }).then(function () {
            var link = window.location.href;
            var list = link.split('/');
            list.splice(0, 3);
            var redir = '/'.concat(list.join('/'));
            location.href = loginURL + redir;
        })
    };
    const colors = ['#FC4F4F', '#FFBC80', '#FF9F45', '#F76E11']
    // const shapes = ['square', 'circle', 'triangle', 'heart']
    const shapes = ['heart']

    const randomIntBetween = (min, max) => {
        return Math.floor(Math.random() * (max - min + 1) + min)
    }

    class Particle {
        constructor({ x, y, rotation, shape, color, size, duration, parent }) {
            this.x = x
            this.y = y
            this.parent = parent
            this.rotation = rotation
            this.shape = shape
            this.color = color
            this.size = size
            this.duration = duration
            this.children = document.createElement('div')
        }

        draw() {
            this.children.style.setProperty('--x', this.x + 'px')
            this.children.style.setProperty('--y', this.y + 'px')
            this.children.style.setProperty('--r', this.rotation + 'deg')
            this.children.style.setProperty('--c', this.color)
            this.children.style.setProperty('--size', this.size + 'px')
            this.children.style.setProperty('--d', this.duration + 'ms')
            this.children.className = `shape ${this.shape}`
            this.parent.append(this.children)
        }

        animate() {
            this.draw()

            const timer = setTimeout(() => {
                this.parent.removeChild(this.children)
                clearTimeout(timer)
            }, this.duration)
        }
    }

    function animateParticles({ total }) {
        for (let i = 0; i < total; i++) {
            const particle = new Particle({
                x: randomIntBetween(-200, 200),
                y: randomIntBetween(-100, -300),
                rotation: randomIntBetween(-360 * 5, 360 * 5),
                shape: shapes[randomIntBetween(0, shapes.length - 1)],
                color: colors[randomIntBetween(0, colors.length - 1)],
                size: randomIntBetween(4, 7),
                duration: randomIntBetween(400, 800),
                parent
            })
            particle.animate()
        }
    }

    // let intervalTimer = setInterval(() => {
    //     animateParticles({ total: 8 })
    // }, 100)

    const parent = document.querySelector('span2')
    parent.addEventListener("touchstart", () => { }, false);
    parent.addEventListener('click', function () {
        Swal.fire({
            title: '정말로 추천하시겠습니까?',
            html: "추천은 한번만 적용되고<br>취소가 불가능합니다.",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '승인',
            cancelButtonText: '취소',
            reverseButtons: true, // 버튼 순서 거꾸로
        }).then((confirmed) => {
            if (Object.values(confirmed)[0]) {
                animateParticles({ total: 40 });
                setTimeout(1000);
                location.href = this.dataset.uri;
            };
        });
    });

</script>
{% endblock %}