<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jeju</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            body, html {height: 100%}
            .bgimg {
                background-image: url("https://www.outlooktravelmag.com/media/jeju-island-1-1643649088.profileImage.2x-jpg.webp");
                min-height: 100%;
                background-position: center;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <div class="bgimg">
            <center>
                <h1>Jeju trip</h1>
                <p>
                <form action="find_similar_places">
                    <button type="submit"; font>시작하기</button>
                </form>
                </p>
            </center>
        </div>
    </body>
</html>